body{
  background-image: url("../img/burger3.jpg");
  background-size:cover;

  font-family: 'Coiny', cursive, serif;
  font-size: 16px;
}


.main-container{
	display: flex;
	justify-content: flex-end;
}